.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#cardWrapper {
  border   : 1px #ECF0FF1A solid;
  border-bottom: none;
  position : relative;
}

#cardWrapper::after {
  content  : "";
  position : absolute;
  z-index  : 1;
  bottom   : 0;
  left     : 0;
  pointer-events   : none;
  background-image : linear-gradient(to bottom, 
                    rgba(255,255,255, 0), 
                    rgba(20,23,43, 1)100%);
  width    : 100%;
  height   : 3em;
}

#card::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -45px;
  width: 50px;
  background: transparent;
  border-top-right-radius: 50px;
  box-shadow: 15px -15px 0 15px #14172B;
  height: 38px;
  border-top: 2px solid #ECF0FF1A;
  z-index: 1;
}

#card::after {
  content: '';
  position: absolute;
  top: -2px;
  right: -45px;
  width: 50px;
  background: transparent;
  border-top-left-radius: 50px;
  box-shadow: -15px -15px 0 15px #14172B;
  height: 38px;
  border-top: 2px solid #ECF0FF1A;
  z-index: 1;
}

#cardLogo {
  border: 1px solid #ECF0FF1A;
  background-image: url('./assets/Vector.png');
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
